*{
  list-style: none;
}

/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }
}

.container{
  background:url('https://media.giphy.com/media/nxG4i6YuQnHzi/giphy.gif')no-repeat center center fixed;

  width:100%;
  height:100vh;
  background-size:cover;
  margin:auto;

}


#questionForm{
font-family: 'Oswald', sans-serif;
  background:white;
  width: 100%;
  margin-top: 30%;
  bottom: 30%;
  padding:2px;
  opacity: 0.55;
  text-align: center;


}

h1{
  position:inline;
  width:100%;
  text-align: center;
  font-size:500%;
  font-family: 'Ewert', cursive;
  margin:auto;
  padding-top:5%;
}

#questionForm.button{
  height:20px;
  width:50%;
  margin: -20px -50px;
  position:relative;
  top:1%;
  left:50%;
  font-family: 'Oswald', sans-serif;
}

#questionForm.h1{
  display:inline-block;
  float:right;
  font-family: 'Oswald', sans-serif;
}


.questionWrap {
  text-align:left;
  font-size: 20px;
  background: white;
  display: block;
  border: 0 none;
  border-radius: 3px;
  line-height: 1em;
  cursor: pointer;
  overflow: hidden;
  margin: .75em 0;
  padding: 0.563em 15% 0.563em 0.875em;
}
.btn-primary {
  border-color: #292624;
  background-color: #373431;
  color: #cecbca;
}
.btn-primary:hover, .btn-primary:active, .btn-primary:focus, .btn-primary:active:focus {
  border-color: #000000;
  background-color: #292624;
  color: #cecbca;
}


@media (max-width:1100px){
  h1{
    position:inline;
    width:100%;
    text-align: center;
    font-size:300%;
    font-family: 'Ewert', cursive;
    margin:auto;
    padding-top:5%;
  }
}


@media (max-width:900px){
  h1{
    position:inline;
    width:100%;
    text-align: center;
    font-size:200%;
    font-family: 'Ewert', cursive;
    margin:auto;
    padding-top:5%;
  }
}
